
@{
    ViewBag.Title = "Error";
}

<div ng-controller="ErrorController">
    <div ng-view></div>
</div>

@*@section AngularScript{
    <script src="~/Scripts/ng-script/Controller/ErrorController.js"></script>
}*@
