
@{
    ViewBag.Title = "Home";
}

<div ng-controller="HomeController">
    <div ng-view></div>
</div>

@*@section AngularScript{
    <script src="~/Scripts/ng-script/Controller/HomeController.js"></script>
}*@

