
@{
    ViewBag.Title = "Contact";
}

<div ng-controller="ContactController">
    <div ng-view></div>
</div>

@*@section AngularScript{
        <script src="~/Scripts/ng-script/Controller/ContactController.js"></script>
    }*@

