
@{
    ViewBag.Title = "Company";
}

<div ng-controller="CompanyController">
    <div ng-view></div>
</div>

@*@section AngularScript{
    <script src="~/Scripts/ng-script/Controller/CompanyController.js"></script>
}*@





